<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">
  <title>{{ shop.name | escape }}</title>
  {% render 'head-tag' %}
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }}
    };
  </script>
  {{ content_for_header }}
</head>
<body class="template-password">

  {{ content_for_layout }}

</body>
</html>
