<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
{% comment %}EasylockdownHeadBegin{% endcomment %}{% capture elhRender %}{% render 'easylockdown_head', easylockdownRender: true, easylockdownCustomPriceSelector: easylockdownCustomPriceSelector %}{% endcapture %}{% assign elhRender = elhRender | split: '--elhResults--'%}{{ elhRender[0] }}{% comment %}EasylockdownHeadEnd{% endcomment %}
  <!-- Masonry 4.2.2 -->

  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">
  {% render 'head-tag' %}

  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% render 'social-meta-tags' %}

  {{ content_for_header }}
  {%- render 'bold-common' -%}

  {{ 'styles.css' | asset_url | stylesheet_tag }}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    window.theme = window.theme || {};
    theme.money_format = {{ shop.money_format | json }};
    {%- if settings.product_currency_code_enabled -%}
      theme.money_format_with_product_code_preference = {{ shop.money_with_currency_format | json }};
    {%- else -%}
      theme.money_format_with_product_code_preference = {{ shop.money_format | json }};
    {%- endif -%}
    theme.strings = {
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }},
      close: {{ 'general.accessibility_labels.close' | t | json }},
      searchReadMore: {{ 'general.search.read_more' | t | json }},
      liveSearchSeeAll: {{ 'general.live_search.see_all' | t | json }},
      productsListingFrom: {{ 'products.listing.from' | t | json }},
      productListingQuickView: {{ 'products.listing.quick_view' | t | json }},
      products_listing_more_products: {{ 'products.listing.more_products' | t | json }},
      products_listing_loading: {{ 'products.listing.loading' | t | json }},
      products_listing_no_more_products: {{ 'products.listing.no_more_products' | t | json }},
      products_variant_non_existent: {{ 'products.variant.non_existent' | t | json }},
      products_product_unit_price_separator: {{ 'products.product.unit_price_separator' | t | json }},
      products_product_add_to_cart: {{ 'products.product.add_to_cart' | t | json }},
      products_variant_out_of_stock: {{ 'products.variant.out_of_stock' | t | json }},
      products_product_adding_to_cart: {{ 'products.product.adding_to_cart' | t | json }},
      products_product_added_to_cart: {{ 'products.product.added_to_cart' | t | json }},
      products_product_added_cta: {{ 'products.product.added_cta' | t | json }},
      onlyXLeft: {{ 'products.labels.only_x_left' | t: quantity: '[[ quantity ]]' | json }},
      cart_terms_confirmation: {{ 'cart.terms.confirmation' | t | json }},
      addressError: {{ 'map.errors.address_error' | t | json }},
      addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
      addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
      authError: {{ 'map.errors.auth_error' | t | json }}
    };
    theme.routes = {
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}'
    };
    theme.settings = {
      enable_live_search: {{ settings.enable_live_search }},
      prod_block_qv: {{ settings.prod_block_qv }},
      block_gut_int: {{ settings.block_gut_int | default: 0 }},
      block_width_int: {{ settings.block_width_int | default: 240 }}
    };
  </script>
  <script
    src="https://www.paypal.com/sdk/js?client-id=AYLmmHiSQ8Ixe0VAno45d5Af7dbwAtrR7tliXUArL87rkPp-cFOmI_hyln8pZFgqw0JZzOsMWI33W4AJ&components=messages"
    data-namespace="paypal2">
  </script>
</head>

<body class="{% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first | default: 'non-theme' }} {% if template contains 'customers' %}customer-container{% endif %}">
  <a class="skip-link visually-hidden" href="#content">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>

  <div class="bodywrap cf">

    {% section 'header' %}

    <main id="content">
      {% comment %}{{ content_for_layout }}{% endcomment %}{% render 'easylockdown_body', content_for_layout: content_for_layout, elhDefines: elhRender[1] %}
    </main>

    {% if request.path != '/challenge' %}
      {% section 'footer' %}
    {% endif %}

  </div>

  {% if request.path != '/challenge' %}
    {% section 'popup' %}
  {% endif %}

  {{ 'vendor.min.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  
  {% render 'spurit_sct_theme_snippet' %}

  <!-- Back in Stock helper snippet -->
  {% render 'back-in-stock-helper' %}
  <!-- End Back in Stock helper snippet -->

  <!-- **BEGIN** Hextom CTB Integration // Main Include - DO NOT MODIFY -->
  {% render 'hextom_ctb_main', product: product, customer: customer %}
  <!-- **END** Hextom CTB Integration // Main Include - DO NOT MODIFY -->

  </body>
</html>
