{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = current_variant.featured_media | default: product.featured_media
  assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id
  assign product_form_installments_id = product_form_id | append: '-installments'
  assign strip_app_blocks_from_quickbuy = true
-%}
<div data-section-type="product-template" data-components="modal">
  <div id="crumbregion" class="desktop-only not-in-quickbuy">
    <div class="crumbs">
      {% if collection %}
      <a href="{{ collection.url }}">
        {% render 'svg-chevron-left' %}
        <span class="beside-img">{{ 'products.product.back_to_collection' | t: title: collection.title }}</span>
      </a>
      {% endif %}
    </div>
    {% if collection %}
    <div class="nextprev">
      {% if collection.previous_product %}
      <a class="prev" href="{{ collection.previous_product }}">
        {% render 'svg-chevron-left' %}
        <span class="beside-img">{{ 'products.product.previous' | t }}</span>
      </a>
      {% endif %}
      {% if collection.previous_product and collection.next_product %}
      <span class="divider">|</span>
      {% endif %}
      {% if collection.next_product %}
      <a class="text" href="{{ collection.next_product }}">
        <span class="beside-img">{{ 'products.product.next' | t }}</span>
        {% render 'svg-chevron-right' %}
      </a>
      {% endif %}
    </div>
    {% endif %}
  </div>

  {% if section.settings.full_width %}
  {%- comment -%} Note: this 520px must match its equivalent in theme.css.liquid {%- endcomment -%}
  <style type="text/css">
    @media (min-width: 768px) {
      {% for media in product.media %}
      .product-gallery__image-{{ forloop.index }} {
        width: calc((max(100vh, 520px) - 275px) * {{ media.preview_image.aspect_ratio }});
      }
      {% endfor %}
    }
    {% for media in product.media %}
    .gallery-thumbs__image-{{ forloop.index }} .rimage-outer-wrapper {
      width: {{ media.preview_image.aspect_ratio | times: 68 | floor }}px;
    }
    {% endfor %}
  </style>
  {% endif %}

  <div class="product-container {% if section.settings.full_width %}product-container--full-width{% endif %} cf">
    <div class="product-gallery {% if product.media.size == 1 %}single-image{% endif %}">
      <div class="swiper-container {% unless section.settings.show_arrows %}swiper-arrows-on-focus-only{% endunless %} gallery-top arrow-position-{{ section.settings.arrow_position }}" data-slides-to-show="{% if section.settings.full_width %}auto{% else %}1{% endif %}">
        <div class="swiper-wrapper">
          {% for media in product.media %}
          <div class="swiper-slide" {% if featured_media == media %}data-featured="true"{% endif %}>
            {%- if media.media_type == 'image' -%}
              <button class="product-gallery__image product-gallery__image-{{ forloop.index }}" data-zoom-src="{{ media.preview_image | img_url: '2048x' }}" data-media-id="{{ media.id }}" data-full-size-src="{{ media.preview_image | img_url: 'master' }}">
            {%- else -%}
              <div class="product-gallery__image product-gallery__image-{{ forloop.index }}" data-media-id="{{ media.id }}" data-full-size-src="{{ media.preview_image | img_url: 'master' }}">
            {%- endif -%}

            {%- render 'media', media: media -%}

            {%- if media.media_type != 'image' -%}
              </div>
            {%- else -%}
            </button>
            {%- endif -%}
          </div>
          {% endfor %}
        </div>

        <a href="#" class="swiper-button-prev">{% render 'svg-chevron-left-light' %}</a>
        <a href="#" class="swiper-button-next">{% render 'svg-chevron-right-light' %}</a>
      </div>

      {%- assign models = product.media | where: 'media_type', 'model' -%}
      {% if models.size > 0 %}
        <script type="application/json" class="model-json">
          {{- product.media | where: 'media_type', 'model' | json -}}
        </script>
        <button
          class="view-in-space not-in-quickbuy"
          data-shopify-xr
          data-shopify-model3d-id="{{ models.first.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden>
          {%- render 'icon-3d-badge-full-color' -%}
          <span class="view-in-space__text">{{ 'products.product.view_in_space' | t }}</span>
        </button>
      {% endif %}

      <div class="gallery-thumbs">
        {% for media in product.media %}
          <a href="{{ media.preview_image | img_url: 'master' }}" target="_blank" class="gallery-thumbs__image-{{ forloop.index }}" data-media-id="{{ media.id }}">
            {% render 'responsive-image', image: media.preview_image %}

            {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
              <div class="thumbnail__badge">
                {% render 'icon-video-badge-full-color' %}
              </div>
            {%- endif -%}
            {%- if media.media_type == 'model' -%}
              <div class="thumbnail__badge">
                {% render 'icon-3d-badge-full-color' %}
              </div>
            {%- endif -%}
          </a>
        {% endfor %}
      </div>
    </div><!-- /.product-gallery -->

    <div class="product-info product-form"
        data-ajax-add-to-cart="true"
        data-product-id="{{ product.id }}"
        data-enable-history-state="true">
      <div class="inner">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when '@app' %}
              <div class="{% if strip_app_blocks_from_quickbuy %}not-in-quickbuy{% endif %}">
                {% render block %}
              </div>

            {% when 'title' %}
              <h1 class="product-title" {{ block.shopify_attributes }}>{{ product.title }}</h1>

            {% when 'reviews' %}
              {% if product.metafields.reviews.rating_count != blank %}
                {%- assign rating_count = product.metafields.reviews.rating_count | plus: 0 -%}
                {%- if rating_count > 0 -%}
                  <div class="themed-product-reviews" {{ block.shopify_attributes }}>
                    {% render 'rating', rating_value: product.metafields.reviews.rating.value %}
                    <span class="cc-rating-custom-caption">
                      {{ product.metafields.reviews.rating_count }} {{ 'products.product.reviews_link' | t: count: product.metafields.reviews.rating_count | downcase }}
                    </span>
                  </div>
                {%- endif -%}
              {% endif %}

            {% when 'price' %}
              <div class="pricearea" {{ block.shopify_attributes }}>
                <span class="price theme-money {% if current_variant.compare_at_price > current_variant.price %}price--reduced{% endif %}">
                  {%- if settings.product_currency_code_enabled -%}
                    {{- current_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- current_variant.price | money -}}
                  {%- endif -%}
                </span>
                {% if current_variant.compare_at_price > current_variant.price %}
                <span class="was-price theme-money">{{ current_variant.compare_at_price | money }}</span>
                {% endif %}

                {% render 'unit-price', variant: current_variant %}
              </div>

              {%- form 'product', product, id: product_form_installments_id -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}

              {%- if block.settings.show_tax_and_shipping -%}
                {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                  <div class="product-policies">
                    {%- if cart.taxes_included -%}
                      {{ 'products.product.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {%- endif -%}

            {% when 'vendor' %}
              {% comment %}
              Do we have a collection that has the same name as our product vendor name?
              If we do, let's have the vendor link point to it.
              If not, we will point to the automatic vendor collection.
              {% endcomment %}
              {% assign product_vendor_handle = product.vendor | handle %}
              {% if collections[product_vendor_handle].handle == product_vendor_handle %}
                {% assign vendor_url = collections[product_vendor_handle].url %}
              {% else %}
                {% assign vendor_url = product.vendor | url_for_vendor %}
              {% endif %}
              <div class="vendor" {{ block.shopify_attributes }}>{{ 'products.product.vendor' | t }} <span>{{ product.vendor | link_to: vendor_url }}</span></div>

            {% when 'sku' %}
              <div class="sku {% if current_variant.sku == blank %}sku--no-sku{% endif %}" {{ block.shopify_attributes }}>{{ 'products.product.sku' | t }} <span class="sku__value">{{ current_variant.sku }}</span></div>

            {% when 'variant_picker' %}
              <div class="productoptions" {{ block.shopify_attributes }}>
                {% if product.variants.size > 1 %}
                  <div class="inputrow">

                    <div class="option-selectors">
                      {% for option in product.options_with_values %}
                        <div class="selector-wrapper cf" {% if block.settings.variant_style == 'listed' %}data-make-box{% endif %}>
                          <label {% if option.name == 'default' %}class="hidden"{% endif %} for="option-{{ option.name | handle }}">
                            {{ option.name }}
                          </label>
                          <select id="option-{{ option.name | handle }}">
                            {% for value in option.values %}
                              <option value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                                {{ value }}
                              </option>
                            {% endfor %}
                          </select>
                        </div>

                        {% if block.settings.show_size_chart and option.name == block.settings.size_chart_variant %}
                          <div class="size-chart-container">
                            <a href="{{ pages[block.settings.size_chart_page].url }}" target="_blank" class="size-chart-link cc-modal" data-cc-modal-contentelement="#block-content-{{ section.id }}-{{ block.id }}">
                              {{ 'products.product.size_chart' | t }}
                            </a>
                            <div id="block-content-{{ section.id }}-{{ block.id }}" class="size-chart-content hidden">
                              <div class="size-chart">
                                <div class="size-chart__inner user-content">
                                  {{ pages[block.settings.size_chart_page].content }}
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>

                {% elsif block.settings.show_single_variant and product.has_only_default_variant == false %}
                  <div class="single-variant">
                    {% for option in product.options %}
                      {% assign opt_idx = 'option' | append: forloop.index %}
                      <label>{{ option }}: {{ product.variants.first[opt_idx] }}</label>

                      {% if block.settings.show_size_chart and option == block.settings.size_chart_variant %}
                        <div class="size-chart-container">
                          <a href="{{ pages[block.settings.size_chart_page].url }}" target="_blank" class="size-chart-link cc-modal" data-cc-modal-contentelement="#block-content-{{ section.id }}-{{ block.id }}">
                            {{ 'products.product.size_chart' | t }}
                          </a>
                          <div id="block-content-{{ section.id }}-{{ block.id }}" class="size-chart-content hidden">
                            <div class="size-chart">
                              <div class="size-chart__inner user-content">
                                {{ pages[block.settings.size_chart_page].content }}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

            {% when 'buy_buttons' %}
              <div class="productoptions spaced-row" {{ block.shopify_attributes }}>
                {% form 'product', product, id: product_form_id, class: 'product-purchase-form', data-product-id: product.id, data-ajax: block.settings.enable_ajax_add %}
                  <select name="id" class="original-selector{% if product.variants.size == 1 %} hidden{% endif %}" aria-label="{{ 'products.product.option_label' | t | escape }}">
                    {% for variant in product.variants %}
                    <option value="{{ variant.id }}"
                      {% if variant == current_variant %} selected="selected"{% endif %}
                      {% if block.settings.show_inventory_notice and variant.inventory_management != blank and variant.inventory_quantity > 0 %}
                        {% if block.settings.inventory_notice_threshold == 0 or variant.inventory_quantity <= block.settings.inventory_notice_threshold %}
                          data-inventory="{{ variant.inventory_quantity }}"
                        {% endif %}
                      {% endif %}
                      data-stock="{% if variant.inventory_management != blank and variant.inventory_quantity <= 0 %}out{% endif %}">{{ variant.title | escape }}</option>
                    {% endfor %}
                  </select>

                  {% if product.available %}

                    {% if block.settings.show_inventory_notice %}
                      {%- capture inventory_notice -%}
                        {%- if current_variant.inventory_management != blank and current_variant.inventory_quantity > 0 -%}
                          {%- if block.settings.inventory_notice_threshold == 0 or current_variant.inventory_quantity <= block.settings.inventory_notice_threshold -%}
                            <div class="product-inventory-notice">
                              {{- 'products.labels.only_x_left' | t: quantity: current_variant.inventory_quantity -}}
                            </div>
                          {%- else -%}
                            <div class="product-inventory-notice product-inventory-notice--no-inventory"></div>
                          {%- endif -%}
                        {%- else -%}
                          <div class="product-inventory-notice product-inventory-notice--no-inventory"></div>
                        {%- endif -%}
                      {%- endcapture -%}
                    {% endif %}

                    {% unless block.settings.show_quantity_selector %}{{ inventory_notice }}{% endunless %}

                    <div class="{% if block.settings.enable_payment_button and product.selling_plan_groups == empty %}with-payment-button{% endif %}">
                      {% if block.settings.enable_payment_button and product.selling_plan_groups == empty %}
                        {% if block.settings.show_quantity_selector %}
                          <div>
                            <label for="quantity">
                              {{ 'products.product.quantity' | t }}
                              {{ inventory_notice }}
                            </label>
                            <input class="quantity" id="quantity" type="text" name="quantity" value="1" size="2" />
                          </div>
                        {% endif %}
                        <button type="submit" name="add" class="add-to-cart button button--alt">{{ 'products.product.add_to_cart' | t }}</button>
                        {{ form | payment_button }}
                      {% else %}
                        {% if block.settings.show_quantity_selector %}
                          <label for="quantity">
                            {{ 'products.product.quantity' | t }}
                            {{ inventory_notice }}
                          </label>
                          <div class="quantadd">
                            <input class="quantity" id="quantity" type="text" name="quantity" value="1" size="2" />
                            <button type="submit" name="add" class="add-to-cart button">{{ 'products.product.add_to_cart' | t }}</button>
                          </div>
                        {% else %}
                          <button type="submit" name="add" class="add-to-cart button">{{ 'products.product.add_to_cart' | t }}</button>
                        {% endif %}
                      {% endif %}
                    </div>

                    {% if block.settings.show_pickup_availability %}
                      {% render 'store-availability', product: product, current_variant: current_variant %}
                    {% endif %}
                  {% else %}
                    <p>{{ 'products.product.product_unavailable' | t }}</p>
                  {% endif %}
                {% endform %}
              </div><!-- /.options -->

              {% if product.available and block.settings.show_backorder_text == true %}
                {% render 'backorder', product: product, item: current_variant %}
              {% endif %}

            {% when 'description' %}
              <div class="description rte section cf{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                {{ product.description }}
              </div>

            {% when 'type' %}
              <div class="morelinks section" {{ block.shopify_attributes }}>
                <div class="contentsection">{{ 'products.product.see_more_of_this_type' | t }} {{ product.type | link_to_type }}</div>
              </div>

            {% when 'sharing' %}
              <div class="not-in-quickbuy" {{ block.shopify_attributes }}>
                {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
              </div>

            {% when 'divider' %}
              <hr {{ block.shopify_attributes }}>

            {% when 'text' %}
              {% if block.settings.text != blank %}
                <div class="light-inner-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
              {% endif %}

            {% when 'richtext' %}
              {% if block.settings.richtext != blank %}
                <div class="rte cf light-inner-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>{{ block.settings.richtext }}</div>
              {% endif %}

            {% when 'popup' %}
              {% if block.settings.page != blank %}
                <div class="light-inner-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                  <a class="{% if block.settings.style != 'link' %}button button--{{ block.settings.style }}{% else %}small-feature-link{% endif %} cc-modal" href="{{ pages[block.settings.page].url }}" target="_blank" data-cc-modal-contentelement="#block-content-{{ section.id }}-{{ block.id }}">{{ block.settings.text | escape }}</a>
                  <div id="block-content-{{ section.id }}-{{ block.id }}" class="hidden">
                    <div class="rte cf">{{ pages[block.settings.page].content }}</div>
                  </div>
                </div>
              {% endif %}

            {% when 'link' %}
              {% if block.settings.text != blank %}
                <div class="light-inner-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                  <a class="{% if block.settings.style != 'link' %}button button--{{ block.settings.style }}{% else %}small-feature-link{% endif %}" href="{{ block.settings.url }}">{{ block.settings.text | escape }}</a>
                </div>
              {% endif %}

            {% when 'image' %}
              {% if block.settings.image != blank %}
                <div class="light-inner-row inline-width-container{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" style="width: {{ block.settings.image_width }}px" {{ block.shopify_attributes }}>
                  {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
                    {% render 'responsive-image', image: block.settings.image %}
                  {% if block.settings.url != blank %}</a>{% endif %}
                </div>
              {% endif %}

            {% when 'custom_liquid' %}
              {% if block.settings.custom_liquid != blank %}
                <div class="light-inner-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>{{ block.settings.custom_liquid }}</div>
              {% endif %}

          {% endcase %}
        {% endfor %}

        <div class="section only-in-quickbuy"><a href="{{ product.url | within: collection }}">{{ 'products.listing.full_details' | t }} <span class="icon-arrow3-right"></span></a></div>
      </div><!-- /.inner -->

      <script type="application/json" id="ProductJson-{{ product.id }}">
        {{ product | json }}
      </script>
    </div><!-- /.product-info.product-form -->
  </div><!-- /.product-container -->

  {% if section.settings.prod_desc_under %}
    <div class="descriptionunder reading-container cf">
      {{ product.description }}
    </div>
  {% endif %}
</div>

{% assign current_variant = product.selected_or_first_available_variant %}
{% render 'structured-data-product', product: product, current_variant: current_variant %}



{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Enable full width layout",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "prod_desc_under",
        "label": "Show description underneath images"
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show hover pagination",
        "default": true
      },
      {
        "type": "select",
        "id": "arrow_position",
        "label": "Hover pagination position",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "middle"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_tax_and_shipping",
            "label": "Show tax and shipping information",
            "default": false
          }
        ]
      },
      {
        "type": "reviews",
        "name": "Review summary",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Add reviews by installing the [Shopify Product Reviews app](https:\/\/apps.shopify.com\/product-reviews)"
          },
          {
            "type": "paragraph",
            "content": "You may need to reload the page before reviews display correctly."
          }
        ]
      },
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "sku",
        "name": "Sku",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "Variant picker",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_single_variant",
            "label": "Show for a single variant",
            "default": false
          },
          {
            "type": "select",
            "id": "variant_style",
            "label": "Variant style",
            "options": [
              {
                "value": "dropdown",
                "label": "Dropdown"
              },
              {
                "value": "listed",
                "label": "Listed"
              }
            ],
            "default": "dropdown"
          },
          {
            "type": "header",
            "content": "Size chart"
          },
          {
            "type": "checkbox",
            "id": "show_size_chart",
            "label": "Enable",
            "default": false
          },
          {
            "type": "text",
            "id": "size_chart_variant",
            "label": "Option name",
            "default": "Size"
          },
          {
            "type": "page",
            "id": "size_chart_page",
            "label": "Page containing size chart"
          }
        ]
      },
      {
        "type": "buy_buttons",
        "name": "Buy buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "Show quantity selector",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_inventory_notice",
            "label": "Show inventory notice",
            "default": false
          },
          {
            "type": "range",
            "id": "inventory_notice_threshold",
            "min": 0,
            "max": 100,
            "step": 1,
            "label": "Inventory threshold",
            "info": "Show inventory quantities below this threshold. Choose 0 to show full amount.",
            "default": 10
          },
          {
            "type": "checkbox",
            "id": "enable_ajax_add",
            "label": "Stay on the current page, when adding to cart",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "enable_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_pickup_availability",
            "label": "Show pickup availability",
            "default": true,
            "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup)"
          },
          {
            "type": "checkbox",
            "id": "show_backorder_text",
            "label": "Show backorder text",
            "default": true,
            "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock."
          }
        ]
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "type",
        "name": "Type",
        "limit": 1
      },
      {
        "type": "sharing",
        "name": "Sharing",
        "limit": 1
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Text block"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "richtext",
        "name": "Rich text",
        "settings": [
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Rich text",
            "default": "<p>Rich text block</p>"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "popup",
        "name": "Pop-up",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Link text",
            "default": "Pop-up link text"
          },
          {
            "type": "select",
            "id": "style",
            "label": "Style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Link text"
          },
          {
            "type": "select",
            "id": "style",
            "label": "Style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 60,
            "max": 700,
            "step": 10,
            "unit": "px",
            "label": "Image width",
            "default": 700
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "custom_liquid",
        "name": "Custom Liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom Liquid"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "divider",
        "name": "Divider",
        "limit": 1
      }
    ]
  }
{% endschema %}
