{% comment %}
<!--
Copyright (c) 2021 Single, LLC - ALL RIGHTS RESERVED 

NOTICE:  All information contained herein is, and remains the property of Single, LLC 
and its suppliers, if any. The intellectual and technical concepts contained herein are 
proprietary to Single, LLC and its suppliers and may be covered by U.S. and Foreign Patents, 
patents in process, and are protected by trade secret or copyright law. Dissemination of this 
information or reproduction of this material is strictly forbidden unless prior 
written permission is obtained from Single, LLC.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
{% endcomment %}

{% comment %}
<!-- Single Default Styles - Can be edited in assets/single.css -->
{% endcomment %}
{{ 'single-v4.css' | asset_url | stylesheet_tag }}

{% comment %}
<!-- jQuery -->
{% endcomment %}
{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

{% comment %}
<!-- Stream Logic -->
{% endcomment %}
{% assign page_handle = page.handle %}
{% assign livestream_id  = pages[page_handle].metafields.single_livestream['livestream_id'] %}
{% assign livestream_host = pages[page_handle].metafields.single_livestream['livestream_host'] %}
{% assign single_host = pages[page_handle].metafields.single_livestream['single_host'] %}
{% assign support_link = pages[page_handle].metafields.single_livestream['support_link'] %}
{% if support_link == blank %}
  {% assign support_link = "https://sn.gl/livestream-support" %}
{% endif %}
{% assign faq_link = pages[page_handle].metafields.single_livestream['faq_link'] %}
{% if faq_link == blank %}
  {% assign faq_link = "https://sn.gl/event-help" %}
{% endif %}
{% assign token = pages[page_handle].metafields.single_livestream['bypass_token'] %}
{% assign chat_enabled = pages[page_handle].metafields.single_livestream['chat_enabled'] %}
{% assign collection_handle = pages[page_handle].metafields.single_livestream['collection_handle'] %}
{% assign customer_tag = pages[page_handle].metafields.single_livestream['customer_tag'] %}
{% assign product_row_count = "3" %}
{% assign global_tag = "has-ticket" %}
{% assign video_product_type = pages[page_handle].metafields.single_livestream['video_product_type'] %}
{% assign today_date = 'now' | date: '%s'| plus: 0 %}
{% assign video_access = customer.metafields.single_video['video_access'] %}

{% comment %}
<!-- Soundcheck URL Parameter logic -->
{% endcomment %}
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pageUrl = contentForQuerystring |
    split:'"pageurl":"' | last |
    split:'"' | first |
    split:'.myshopify.com' | last |
    replace:'\/','/' |
    replace:'%20',' ' |
    replace:'\u0026','&'
-%}
{%- for i in (1..1) -%}
  {%- unless pageUrl contains "?" -%}{% break %}{%- endunless -%}
  {%- assign pageQuerystring = pageUrl | split:'?' | last -%}
  {%- assign parts = pageQuerystring | split:'&' -%}
  {%- for part in parts -%}
    {%- assign param_list = part | split:'=' -%}
    {%- if param_list.size > 1 and param_list contains 'soundcheck' and param_list contains 'true' %}
      {% assign soundcheck = true %}
    {% endif %}
  {%- endfor -%}
{%- endfor -%}

{% if request.path contains token %}
  {% assign bypass_token_used = true %}
{% endif %}

{% if request.host contains 'shopifypreview.com' %}
  {% assign shopify_preview_host = true %}
{% endif %}

{% comment %}
<!-- Login Logic -->
{% endcomment %}
{% unless customer or bypass_token_used or shopify_preview_host %}
  {% if template contains 'customers' %}
    {% assign send_to_login = false %}
  {% else %}
    {% assign send_to_login = true %}
  {% endif %}
{% endunless %}
{% if send_to_login and request.path != "/challenge" %}
  {% capture login_section %}{% section 'single-video-login' %}{% endcapture %}
  {{ login_section | replace: 'FAQ_LINK', faq_link |  replace: 'PAGE_URL', page.url }}
{% else %}
  {% if customer.tags contains customer_tag or customer.tags contains global_tag or video_access contains livestream_id or bypass_token_used or shopify_preview_host %}
    {% assign has_ticket = true %}
    {% assign purchase_date = today_date %}
  {% endif %}
  {% for order in customer.orders %}
    {% unless order.cancelled or order.financial_status == "refunded" %}
      {% for line_item in order.line_items %}
        {% if line_item.variant.metafields.single_livestream["livestream_id"] contains livestream_id %}
          {% assign has_ticket = true %}
          {% assign purchase_date = order.created_at | date: '%s'| plus: 0 %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endunless %}
  {% endfor %}
  {% if customer.tags contains "no-ticket" %}
    {% assign has_ticket = false %}
  {% endif %}
  {% if has_ticket %}
    {% comment %}
      <!-- Fans With Tickets -->
    {% endcomment %}
    <div class="single-livestream {{ page.handle }}">
      <div id="single-livestream-player"
           class="single-grid-item single-livestream-player {% if chat_enabled == 'false' %}chat-disabled{% endif %}">
        <script src="https://{{ livestream_host }}/assets/livestream-embed.js?id={{ livestream_id }}&customerEmail={{ customer.email }}{% if bypass_token_used %}&token={{ token }}{% endif %}{% if soundcheck %}&soundcheck=true{% endif %}" type="text/javascript"></script>
      </div>
      <div class="single-grid-item single-body-content">
        {{ page.content }}
      </div>
      <div class="single-grid-item single-collection">
        {% for product in collections[collection_handle].products %}
          <div class="single-collection-product row-count-{{ product_row_count }}">
            <a href="{{ product.url }}"
               target="_blank">
              <img class="single-collection-product-img"
                   src="{{ product.featured_image | img_url: '640x640' }}"
                   alt="{{ product.featured_image.alt }}" />
              <h4 class="single-collection-product-title">{{ product.title }}</h4>
              <p class="single-collection-product-price"
                 id="single-product-price-{{product.id}}">{{ product.variants.first.price | money }}</p>
            </a>
            <form action="/cart/add"
                  method="post"
                  enctype="multipart/form-data"
                  id="product_form_{{product.id}}">
              {% if product.variants.size > 1 %}
                <select name="id"
                        class="single-variant-select"
                        id="single-variant-select-{{product.id}}"
                        onchange="setPrice(this.options[this.selectedIndex]);">
                  {% for variant in product.variants %}
                    {% if variant.available == true %}
                      <option value="{{variant.id}}"
                              data-price="{{variant.price | money }}"
                              data-product-id="{{product.id}}">{{ variant.title }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              {% else %}
                <input type="hidden"
                       name="id"
                       value="{{ product.variants.first.id }}" />
              {% endif %}
              <input type="submit"
                     name="add"
                     id="add"
                     value="Add to Cart"
                     class="button">
            </form>
          </div>
        {%- endfor -%}
      </div>
    </div>
    {% assign livestream = true %}
    {% include 'single-ajaxify-album' with livestream, livestream_id, single_host %}
    <script>
      window.SINGLE_LIVESTREAM = true;
      /* Open Links Externally */
      $("a").attr("target", "_blank");
      /* Update Variant Price */
      setPrice = function (selectedItem) {
        const price = selectedItem.attributes['data-price'].value;
        const productId = selectedItem.attributes['data-product-id'].value
        document.getElementById("single-product-price-" + productId).innerHTML = price;
      };
    </script>
  {% endif %}
  {% if has_ticket != true %}
    {% capture no_ticket %}{% section 'single-no-ticket' %}{% endcapture %}
    {{ no_ticket | replace: 'FAQ_LINK', faq_link }}
  {% endif %}
  {% if content_expired and has_ticket %}
    {% capture expired_section %} {% section 'single-content-expired' %}{% endcapture %}
    {{ expired_section | replace: 'FAQ_LINK', faq_link }}
  {% endif %}
{% endif %}
